/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */
body{
     font-family: "Roboto", sans-serif;
     color:#434455;
     background-color:#fff;
}

.hero-btn{
    cursor: pointer;
}

/* #region reset */
ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

address{
    font-style: normal;
}
/* #endregion */

/*#region header*/
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part{
    color: #2e2f42;
}

.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;  
}

.contacts-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
}

.nav-link:focus,
.nav-link:hover,
.contacts-link:focus,
.contacts-link:hover{
    color: #404bbf;
}
/*#endregion*/

/* #region hero */
.hero {
    background: #2e2f42;
}
.hero-title { 
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-btn {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4d5ae5;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover{
    background: #404bbf;
}
/* #endregion */

/* #region benefits*/
.benefit-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefit-paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion */

/* #region team*/
.page-team {
    background: #f4f4fd;
}

.team-header {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-name {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-prof {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region portfolio*/
.portfolio-header { 
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-direction {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region footer*/
.page-footer{
    background: #2e2f42;
}

.footer-logo .logo-part{
    color: #f4f4fd;
}
/* #endregion */
